# Matematicas de una regresion logistica
#### Las tablas de contingencia

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('datasets/gender-purchase/Gender Purchase.csv')
data.head()

   Gender Purchase
0  Female      Yes
1  Female      Yes
2  Female       No
3    Male       No
4    Male      Yes

In [3]:
data.shape

(511, 2)

In [4]:
contingency_table = pd.crosstab(data['Gender'],data['Purchase'])
contingency_table

Purchase   No  Yes
Gender
Female    106  159
Male      125  121

In [5]:
contingency_table.sum(axis=1)

Gender
Female    265
Male      246
dtype: int64

In [6]:
contingency_table.sum(axis=0)

Purchase
No     231
Yes    280
dtype: int64

In [7]:
contingency_table.astype('float').div(contingency_table.sum(axis=1), axis=0)

Purchase       No      Yes
Gender
Female    0.40000  0.60000
Male      0.50813  0.49187

## probabilidad condicional
* cual es pa probabiliadad de que un cliente compre un producto sabiendo que es un hombre?
* cual es la probabilidad de que un cliente compra el producto sea mujer?

In [8]:
from IPython.display import display, Math, Latex

In [9]:
display(Math(r'P(Purchase|Male) = \frac{Numero\ total\ de\ compras\ echas\ por\ hombre}{Numero\ total\ de\ hombres}'))

In [10]:
display(Math(r'P(Female|Purchase) = \frac{Numero\ total\ de\ compras\ echas\ por\ mujeres}{Numero\ total\ de\ compras}'))

## Ratio de Probabilidades

In [14]:
display(Math(r'Odds_{suceso,A}= \frac{P(A)}{1-P(A)}'))

In [15]:
probabilidad_male = 121/246
probabilidad_female = 159/265
odds_male = probabilidad_male / (1 - probabilidad_male)
odds_female = probabilidad_female / (1 - probabilidad_female)
odds_female, odds_male

(1.4999999999999998, 0.9680000000000002)

In [16]:
odds_global = odds_male / odds_female

In [17]:
odds_global

0.6453333333333335