# Ejemplo Correlacion

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data_adc = pd.read_csv('datasets/ads/Advertising.csv')

In [3]:
data_adc.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [11]:
data_adc['Corrn'] = (data_adc['TV']- np.mean(data_adc['TV'])) * (data_adc['Sales'] - np.mean(data_adc['Sales']))

In [12]:
data_adc.head()

      TV  Radio  Newspaper  Sales       Corrn
0  230.1   37.8       69.2   22.1  670.896956
1   44.5   39.3       45.1   10.4  371.460206
2   17.2   45.9       69.3    9.3  613.181206
3  151.5   41.3       58.5   18.5   19.958456
4  180.8   10.8       58.4   12.9  -37.892794

In [13]:
data_adc['corr_1'] = (data_adc['TV'] - np.mean(data_adc['TV']))**2

In [14]:
data_adc['corr_2'] = (data_adc['Sales'] - np.mean(data_adc['Sales']))**2

In [15]:
data_adc.head()

      TV  Radio  Newspaper  Sales       Corrn        corr_1     corr_2
0  230.1   37.8       69.2   22.1  670.896956   6898.548306  65.246006
1   44.5   39.3       45.1   10.4  371.460206  10514.964306  13.122506
2   17.2   45.9       69.3    9.3  613.181206  16859.074806  22.302006
3  151.5   41.3       58.5   18.5   19.958456     19.869306  20.048006
4  180.8   10.8       58.4   12.9  -37.892794   1139.568806   1.260006

In [18]:
r = sum(data_adc['Corrn'])/(np.sqrt(sum(data_adc['corr_1'])*sum(data_adc['corr_2'])))

In [19]:
r

0.782224424861606

In [ ]:
def coeficienteCorrelacion():
    
    
    return coeficiente_r