In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing, neighbors
from sklearn.model_selection import train_test_split

In [20]:
df = pd.read_csv('./datasets/cancer/breast-cancer-wisconsin.data.txt', header= None)
df.head()

        0   1   2   3   4   5   6   7   8   9   10
0  1000025   5   1   1   1   2   1   3   1   1   2
1  1002945   5   4   4   5   7  10   3   2   1   2
2  1015425   3   1   1   1   2   2   3   1   1   2
3  1016277   6   8   8   1   3   4   3   7   1   2
4  1017023   4   1   1   3   2   1   3   1   1   2

In [21]:
df.columns = ['id', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9','class']
df = df.drop(['id'], 1)
df.head()

   V1  V2  V3  V4  V5  V6  V7  V8  V9  class
0   5   1   1   1   2   1   3   1   1      2
1   5   4   4   5   7  10   3   2   1      2
2   3   1   1   1   2   2   3   1   1      2
3   6   8   8   1   3   4   3   7   1      2
4   4   1   1   3   2   1   3   1   1      2

In [22]:
df.replace('?', -9999999, inplace=True)

In [23]:
Y = df['class']
X = df[['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9']]

# Clustering

In [24]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=.2)

In [25]:
clf = neighbors.KNeighborsClassifier()

In [26]:
clf.fit(X_train, Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [27]:
accuracy = clf.score(X_test, Y_test)
accuracy

0.9857142857142858

# Sin drop ID

In [28]:
df = pd.read_csv('./datasets/cancer/breast-cancer-wisconsin.data.txt', header= None)
df.head()

        0   1   2   3   4   5   6   7   8   9   10
0  1000025   5   1   1   1   2   1   3   1   1   2
1  1002945   5   4   4   5   7  10   3   2   1   2
2  1015425   3   1   1   1   2   2   3   1   1   2
3  1016277   6   8   8   1   3   4   3   7   1   2
4  1017023   4   1   1   3   2   1   3   1   1   2

In [29]:
df.columns = ['id', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9','class']
df.head()
df.replace('?', -9999999, inplace=True)

In [30]:
Y = df['class']
X = df[['id','V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9']]

In [31]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=.2)
clf_ID = neighbors.KNeighborsClassifier()
clf_ID.fit(X_train, Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [32]:
accuracy = clf_ID.score(X_test, Y_test)
accuracy

0.6357142857142857

## Clasificar nuevas muestras

In [48]:
sample_measure = np.array([4, 2, 1, 1, 1, 2, 3, 2, 1]).reshape(1, -1)
sample_measure2 = np.array([4, 1, 2, 1, 1, 3, 1, 2, 1]).reshape(1, -1)

In [49]:
predict = clf.predict(sample_measure)
predict

array([2])

In [50]:
predict2 = clf.predict(sample_measure2)
predict2

array([2])