# Obtener los datos de las medallas

 *Link:* ***http://winterolympicsmedals.com/medals.csv***

In [31]:
import urllib3
import pandas as pd

In [32]:
http = urllib3.PoolManager()
url = 'http://winterolympicsmedals.com/medals.csv'
r = http.request('GET', url)
response = r.data

In [33]:
#decodifico el archivo binario a string
str_data = response.decode('utf-8')

#separo las lineas
lines = str_data.split('\n')

#obtengo el nombre y numero de columnas
col_names = lines[0].split(',')
n_col = len(col_names)

#genero el diccionario de almacenamiento
counter = 0
main_diccionario = {}

for col_name in col_names:
    main_diccionario[col_name] = []

#agrego los valores al diccionario

for line in lines:
    if(counter>0):
        values = line.strip().split(',')
        for i in range(n_col):
            main_diccionario[col_names[i]].append(values[i])
    counter+=1
print("el sistema tiene %d filas y %d columnas" %(counter,n_col))

el sistema tiene 2312 filas y 8 columnas

In [34]:
data_medals = pd.DataFrame(main_diccionario)
data_medals.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

TypeError: write() argument must be str, not DataFrame